<script setup>
    import Child from './Child.vue'
    import { ref } from 'vue'

    const msg = ref('Hello World!')
    function updateMsg(ms) {
        msg.value = ms;
    }
</script>

<template>
    <h1>{{ msg }}</h1>
    <Child :model-value="msg" @update:model-value="updateMsg" />
</template>


<script setup>
    const props = defineProps(['modelValue'])
    const emit = defineEmits(['update:modelValue'])
</script>

<template>
    <input :value="props.modelValue" @input="emit('update:modelValue', $event.target.value)" />
</template>