.mk-select-root .mk-select-input {
	flex: 1;
	border: none;
	padding: 0 var(--mk-padding, 1em);
	padding-right: 30px;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: var(--mk-text-color, #030303);
	font: var(--mk-select-font, inherit);
	width: var(--mk-select-width, 100%);
	height: var(--mk-select-height, 40px);
	border: 1px solid #ccc;
	border-radius: var(--mk-corner-radius, 4px);
	background-color: var(--mk-background-color, #ffffff);
}

.mk-select-root .mk-select-menu-button {
	background-color: var(--mk-text-color, #030303);
	mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 9L12 15L18 9' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E ");
}
.mk-select-root .mk-select-wrapper {
	display: flex;
}
.mk-select-root .mk-select-menu-button {
	border: none;
	border-left: solid 1px var(--mk-text-color, #030303);
	bottom: 0;
	width: 24px;
	height: 24px;

	margin: auto;
	margin-left: -30px;
	border-radius: 0 var(--mk-corner-radius, 4px) var(--mk-corner-radius, 4px) 0;
	cursor: pointer;
}

.mk-select-root .mk-select-input:focus {
	outline: none;
	border-color: var(--mk-primary-color, #646cff);
	box-shadow: 0 0 0 2px var(--mk-primary-color, #646cff);
}

.mk-select-root .mk-select-dropdown-wrapper {
	position: relative;
	padding: 0;
	margin: 0;
}

.mk-select-root .mk-select-dropdown {
	max-height: var(--mk-select-max-menu-height, 500px);
	overflow-y: scroll;
	opacity: 1;
	cursor: pointer;
	position: absolute;
	padding-top: calc(var(--mk-padding, 1em) / 2);
	padding-bottom: calc(var(--mk-padding, 1em) / 2);
	background-color: var(--mk-background-color-contrast, #fcfcfc);
	border: 1px solid var(--mk-text-color, #030303);
	border-radius: var(--mk-corner-radius, 4px);
	z-index: 1;
	text-align: left;
	min-width: var(--mk-select-width, 100%);
	transition-duration: var(--mk-animation-speed, 0.2s);
	transition-property: max-height, opacity;
	transition-timing-function: ease-in-out;
}

.mk-select-root .mk-select-dropdown.hidden {
	max-height: 0px;
	opacity: 0;
	transition-duration: var(--mk-animation-speed, 0.2s);
	transition-property: max-height, opacity;
	transition-timing-function: ease-in-out;

	border: none;
}

.mk-select-root .mk-select-dropdown-item {
	font: var(--mk-select-font, inherit);
	padding-top: calc(var(--mk-padding, 1em) / 2);
	padding-bottom: calc(var(--mk-padding, 1em) / 2);
	padding-left: var(--mk-padding, 1em);
	padding-right: var(--mk-padding, 1em);
	white-space: nowrap;
}

.mk-select-root .mk-select-dropdown-item:hover {
	background-color: var(--mk-primary-color, #646cff);
	color: var(--mk-reverse-text-color, #fff);
	filter: opacity(0.5);
}

.mk-select-root .mk-select-dropdown-item.focus-item {
	background-color: var(--mk-primary-color, #646cff);
	color: var(--mk-reverse-text-color, #fff);
}
