.mk-select-root .mk-select-input {
	font: var(--mk-select-font, inherit);
	width: var(--mk-select-width, 100%);
	height: var(--mk-select-height, 40px);
	border: 1px solid #ccc;
	border-radius: var(--mk-corner-radius, 4px);
	padding: 0 var(--mk-padding, 1em);
	color: var(--mk-text-color, #030303);
	background-color: var(--mk-background-color, #ffffff);
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.mk-select-root .mk-select-input:focus {
	outline: none;
	border-color: var(--mk-primary-color, #646cff);
	box-shadow: 0 0 0 2px var(--mk-primary-color, #646cff);
}

.mk-select-root .mk-select-dropdown-wrapper {
	position: relative;
	padding: 0;
	margin: 0;
	color: var(--mk-text-color, #030303);
}

.mk-select-root .mk-select-dropdown {
	max-height: var(--mk-select-max-menu-height, 500px);
	overflow-y: scroll;
	opacity: 1;
	cursor: pointer;
	position: absolute;
	padding-top: calc(var(--mk-padding, 1em) / 2);
	padding-bottom: calc(var(--mk-padding, 1em) / 2);
	background-color: var(--mk-background-color-contrast, #fcfcfc);
	border: 1px solid var(--mk-text-color, #030303);
	border-radius: var(--mk-corner-radius, 4px);
	z-index: 1;
	text-align: left;

	transition: 0.2s ease-in-out;
}

.mk-select-root .mk-select-dropdown.hidden {
	max-height: 0px;
	opacity: 0;
	transition: 0.2s ease-in-out;
	border: none;
}

.mk-select-root .mk-select-dropdown-item {
	font: var(--mk-select-font, inherit);
	padding-top: calc(var(--mk-padding, 1em) / 2);
	padding-bottom: calc(var(--mk-padding, 1em) / 2);
	padding-left: var(--mk-padding, 1em);
	padding-right: var(--mk-padding, 1em);
	white-space: nowrap;
}

.mk-select-root .mk-select-dropdown-item:hover {
	background-color: var(--mk-primary-color, #646cff);
	color: #fff;
}

.mk-select-root .mk-select-dropdown-item.focus-item {
	background-color: var(--mk-primary-color, #646cff);
	color: #fff;
}
