:host {
	--mk-padding: 0.5em;
	--mk-corner-radius: 4px;
	--mk-text-color: black;
	--mk-background-color: #ffffff;
	--mk-background-color-contrast: #fcfcfc;
	--mk-primary-color: #148c9f;
	--mk-animation-speed: 0.2s;
	--mk-reverse-text-color: white;
}

@media (prefers-color-scheme: dark) {
	:host {
		--mk-text-color: #fff;
		--mk-background-color: #242424;
		--mk-background-color-contrast: #2c2c2c;
		--mk-reverse-text-color: black;
	}
}

/* #country3 {
	--mk-select-max-menu-height: 400px;
	--mk-select-width: 200px;
	--mk-select-height: 60px;
	--mk-primary-color: #ab0000;
	--mk-padding: 20px;
	--mk-corner-radius: 10px;
	--mk-select-font: 20px terminal, monospace;
	@media (prefers-color-scheme: dark) {
		--mk-primary-color: #8f00fd;
	}
} */
