<div id="root">


    @if (dynamicSearch) {
    <div>
        <h3>Dynamic Country Search</h3>
        <p>Selected &nbsp;&nbsp;<b>{{itemToString(selectedItem)}}</b></p>
        <murdock-select id="country1" [placeholder]="placeholderCountries" [width]="width"
            [(selectedItem)]="selectedItem" [debounce]="debounce" [disabled]="disabled" [limit]="limit"
            [(search)]="searchValueCountry" [searchFunction]="searchFunction" [itemToString]="itemToString" />
    </div>
    } @else {

    <div>
        <h3>Static Animal Search</h3>
        <p>Selected &nbsp;&nbsp;<b>{{animalToString(selectedAnimal)}}</b></p>
        <murdock-select id="animal1" [placeholder]="placeholderAnimals" [width]="width" [items]="staticData"
            [(selectedItem)]="selectedAnimal" [debounce]="debounce" [disabled]="disabled" [limit]="limit"
            [(search)]="searchValueAnimal" [itemToString]="animalToString" />
    </div>
    }
    <div class='data-controls'>

        <input type='radio' id='animal' name="Date Type" style='cursor: pointer;' [checked]="!dynamicSearch"
            (change)="setDataTypeAnimal()" />
        <label style='cursor: pointer;' for='animal'>Animal</label>
        <input type='radio' id='country' name="Date Type" style='cursor: pointer;' [checked]="dynamicSearch"
            (change)="setDataTypeCountry()" />
        <label style='cursor: pointer;' for="country">Country</label>

        @if (!dynamicSearch) {
        <div>
            <label title='Number of animals in static list'>
                Number of animals
            </label>
            <input type="number" id="animalCount" title='Number of animals in static list' [value]="staticDataSize"
                step="25" (change)="setStaticDataSize($event)" />
        </div>
        } @else {
        <div>

            <div>
                <label title='Added latency in ms for the dynamic country search (to simulate network latency)'>
                    Added Latency
                </label>
                <input id='fetchLatency' type="number"
                    title='Added latency in ms for the dynamic country search (to simulate network latency)'
                    [value]="fetchLatency" step="100" (change)="setFetchLatency($event)" />
            </div>
        </div>

        }


    </div>

    <div style='display: flex; flex-direction: row'>


        <div class='edit-controls' style='display: flex; flex-direction: column'>
            <div>
                <label title='Width of the select component'>
                    Width
                </label>
                <input type="number" title='Width of the select component' [value]="width" step="25"
                    (change)="setWidth($event)" />
            </div>
            <div>
                <label title='Height of the select component'>
                    Height
                </label>
                <input type="number" title='Height of the select component' [value]="height" step="5"
                    (change)="setHeight($event)" />
            </div>
            <div>
                <label title='Max height of the menu popup'>
                    Menu Height
                </label>
                <input type="number" [value]="popupHeight" step="50" title='Max height of the menu popup'
                    (change)="setPopupHeight($event)" />
            </div>
            <div>
                <label title='Corner radius for the select component'>
                    Corner Radius
                </label>
                <input type="number" [value]="cornerRadius" title='Corner radius for the select component'
                    (input)="setCornerRadius($event)" />
            </div>
            <div id="placeholderContainer">
                @if (dynamicSearch) {
                <div>
                    <label title='Placeholder for the select component'>
                        Placeholder &nbsp;&nbsp;
                    </label>
                    <input type="text" id='placeholderInput' title='Font for the select component'
                        [value]="placeholderCountries" (input)="setPlaceholderCountries($event)" />
                </div>
                } @else {
                <div>
                    <label title='Placeholder for the select component'>
                        Placeholder &nbsp;&nbsp;
                    </label>
                    <input type="text" id='placeholderInput' title='Placeholder for the select component'
                        [value]="placeholderAnimals" (input)="setPlaceholderAnimals($event)" />
                </div>}
            </div>


        </div>
        <div class='edit-controls' style='display: flex; flex-direction: column'>
            <div>
                <label title='Text color for the select component'>
                    Text Color
                </label>
                <input type="color" [value]="textColor" title='Text color for the select component'
                    (change)="setTextColor($event)" />
            </div>
            <div>
                <label title='Primary color for the select component'>
                    Prim. Color
                </label>
                <input type="color" title='Primary color for the select component' [value]="primaryColor"
                    (change)="setPrimaryColor($event)" />

            </div>
            <div>
                <label title='Background color for the select component'>
                    Background
                </label>
                <input type="color" title='Background color for the select component' [value]="backgroundColor"
                    (change)="setBackgroundColor($event)" />
            </div>
            <div>
                <label
                    title='Padding for murdock UI - used as a hint for the tightness of the layout. Higher values are more spacious'>
                    Padding
                </label>
                <input type="number"
                    title='Padding for murdock UI - used as a hint for the tightness of the layout. Higher values are more spacious'
                    [value]="padding" (change)="setPadding($event)" />
            </div>




        </div>
        <div class='edit-controls' style='display: flex; flex-direction: column'>
            <div>
                <label title='Whether or not the seclect component is disabled'>
                    Disabled
                </label>
                <input title='Whether or not the seclect component is disabled' type="checkbox" [checked]="disabled"
                    (change)="setDisabled($event)" />
            </div>
            <div>
                <label
                    title='Debounce. The amount of time in ms to pause after typing before doing a search or filter.'>
                    Debounce
                </label>
                <input type="number"
                    title='Debounce. The amount of time in ms to pause after typing before doing a search or filter.'
                    [value]="debounce" (change)="setDebounce($event)" />
            </div>

            <div>
                <label title='Max number of items to show in the select component'>
                    Limit
                </label>
                <input type="number" title='Max number of items to show in the select component' [value]="limit"
                    (change)="setLimit($event)" />

            </div>

            <div>
                <label title='Speed in ms of murdock animations, lower is faster'>
                    Anim. Speed
                </label>
                <input type="number" title='Speed in ms of murdock animations, lower is faster' [value]="animationSpeed"
                    step="50" (change)="setAnimationSpeed($event)" />
            </div>
            <div>
                <label title='Font for the select component'>
                    Font
                </label>
                <input type="text" id='fontInput' title='Font for the select component' [value]="font"
                    (input)="setFont($event)" />
            </div>


        </div>
    </div>

</div>

<router-outlet></router-outlet>