<div id="root">



    @if (dynamicSearch) {
    <div>
        <h3>Dynamic Country Search</h3>
        <p>Selected &nbsp;&nbsp;<b>{{itemToString(selectedItem)}}</b></p>
        <select-component id="country1" [placeholder]="placeholderCountries" [width]="width"
            [(selectedItem)]="selectedItem" [debounce]="debounce" [disabled]="disabled" [limit]="limit"
            [(search)]="searchValue" [searchFunction]="searchFunction" [itemToString]="itemToString" />
    </div>
    } @else {

    <div>
        <h3>Static Animal Search</h3>
        <p>Selected &nbsp;&nbsp;<b>{{animalToString(selectedAnimal)}}</b></p>
        <select-component id="animal1" [placeholder]="placeholderAnimals" [width]="width" [items]="staticData"
            [(selectedItem)]="selectedAnimal" [debounce]="debounce" [disabled]="disabled" [limit]="limit"
            [(search)]="searchValue" [itemToString]="animalToString" />
    </div>
    }
    <div className='data-controls'>

        <input type='radio' id='animal' name="Date Type" [checked]="!dynamicSearch" (change)="setDataTypeAnimal()" />
        <label htmlFor='animal'>Animal</label>
        <input type='radio' id='country' name="Date Type" [checked]="dynamicSearch" (change)="setDataTypeCountry()" />
        <label htmlFor="country">Country</label>

        @if (!dynamicSearch) {
        <div>
            <label title='Number of animals in static list'>
                Number of animals
            </label>
            <input type="number" id="animalCount" title='Number of animals in static list' [value]="staticDataSize"
                step="25" (change)="setStaticDataSize($event)" />
        </div>
        } @else {
        <div>

            <div>
                <label title='Added latency in ms for the dynamic country search (to simulate network latency)'>
                    Added Latency
                </label>
                <input id='fetchLatency' type="number"
                    title='Added latency in ms for the dynamic country search (to simulate network latency)'
                    [value]="fetchLatency" step="100" (change)="setFetchLatency($event)" />
            </div>
        </div>

        }



    </div>
    <!--
    <div style={{ display: 'flex' , flexDirection: 'row' }}>


        <div className='edit-controls' style={{ display: 'flex' , flexDirection: 'column' }}>
            <div>
                <label title='Width of the select component'>
                    Width
                </label>
                <input type=" number" title='Width of the select component' value={width} step={25} onChange={(e)=>
                setWidth(parseInt(e.target.value, 10))}
                />
            </div>
            <div>
                <label title='Height of the select component'>
                    Height
                </label>
                <input type="number" title='Height of the select component' value={height} step={5} onChange={(e)=>
                setHeight(parseInt(e.target.value, 10))}
                />
            </div>
            <div>
                <label title='Max height of the menu popup'>
                    Menu Height
                </label>
                <input type="number" value={popupHeight} step={50} title='Max height of the menu popup' onChange={(e)=>
                {
                setPopupHeight(parseInt(e.target.value, 10))
                }}
                />
            </div>
            <div>
                <label title='Corner radius for the select component'>
                    Corner Radius
                </label>
                <input type="number" value={cornerRadius} title='Corner radius for the select component' onChange={(e)=>
                {
                setCornerRadius(parseInt(e.target.value, 10))
                }}
                />
            </div>
            <div id="placeholderContainer">
                {dynamicSearch ? (<div>
                    <label title='Placeholder for the select component'>
                        Placeholder &nbsp;&nbsp;
                    </label>
                    <input type="text" id='placeholderInput' title='Font for the select component'
                        value={placeholderCountries} onChange={(e)=> setPlaceholderCountries(e.target.value)}
                    />
                </div>) : (<div>
                    <label title='Placeholder for the select component'>
                        Placeholder &nbsp;&nbsp;
                    </label>
                    <input type="text" id='placeholderInput' title='Placeholder for the select component'
                        value={placeholderAnimals} onChange={(e)=> setPlaceholderAnimals(e.target.value)}
                    />
                </div>)}
            </div>


        </div>
        <div className='edit-controls' style={{ display: 'flex' , flexDirection: 'column' }}>
            <div>
                <label title='Text color for the select component'>
                    Text Color
                </label>
                <input type="color" value={textColor} title='Text color for the select component' onChange={(e)=>
                setTextColor(e.target.value)}
                />
            </div>
            <div>
                <label title='Primary color for the select component'>
                    Prim. Color
                </label>
                <input type="color" title='Primary color for the select component' value={primaryColor} onChange={(e)=>
                setPrimaryColor(e.target.value)}
                />
            </div>
            <div>
                <label title='Background color for the select component'>
                    Background
                </label>
                <input type="color" title='Background color for the select component' value={backgroundColor}
                    onChange={(e)=> setBackgroundColor(e.target.value)}
                />
            </div>
            <div>
                <label
                    title='Padding for murdock UI - used as a hint for the tightness of the layout. Higher values are more spacious'>
                    Padding
                </label>
                <input type="number"
                    title='Padding for murdock UI - used as a hint for the tightness of the layout. Higher values are more spacious'
                    value={padding} onChange={(e)=> setPadding(parseInt(e.target.value, 10))}
                />
            </div>




        </div>
        <div className='edit-controls' style={{ display: 'flex' , flexDirection: 'column' }}>
            <div>
                <label title='Whether or not the seclect component is disabled'>
                    Disabled
                </label>
                <input title='Whether or not the seclect component is disabled' type="checkbox" checked={disabled}
                    onChange={(e)=> setDisabled(e.target.checked)}
                />
            </div>
            <div>
                <label
                    title='Debounce. The amount of time in ms to pause after typing before doing a search or filter.'>
                    Debounce
                </label>
                <input type="number"
                    title='Debounce. The amount of time in ms to pause after typing before doing a search or filter.'
                    value={debounce} onChange={(e)=> setDebounce(parseInt(e.target.value, 10))}
                />
            </div>

            <div>
                <label title='Max number of items to show in the select component'>
                    Limit
                </label>
                <input type="number" title='Max number of items to show in the select component' value={limit}
                    onChange={(e)=> setLimit(parseInt(e.target.value, 10))}
                />
            </div>

            <div>
                <label title='Speed in ms of murdock animations, lower is faster'>
                    Anim. Speed
                </label>
                <input type="number" title='Speed in ms of murdock animations, lower is faster' value={animationSpeed}
                    step={50} onChange={(e)=> setAnimationSpeed(parseInt(e.target.value, 10))}
                />
            </div>
            <div>
                <label title='Font for the select component'>
                    Font
                </label>
                <input type="text" id='fontInput' title='Font for the select component' value={font} onChange={(e)=>
                setFont(e.target.value)}
                />
            </div>


        </div>
    </div> -->

</div>

<router-outlet></router-outlet>